<% if current_user.current_account.present? %>
	<div class="row">
		<div class="span4" style="background-color:lightgray;padding:5px; margin:10px">
			<b>Current Account:</b>
			<span class="dropdown center" style="padding:10px">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		            <%= current_user.current_account.name %> <b class="caret"></b>
		          </a>
		          <ul class="dropdown-menu">  
	            	<% current_user.accounts.each do |account| %>
	            		<% if account.name != current_user.current_account.name %>
	            			<li><%= link_to  account.name, change_account_user_path(account) %>
	            			</li>
	    				<%end%>
		  			<% end %>
		          </ul>
	    	</span>
			<p id="account_balance" class="balance-<%=current_user.current_account.how_is_balance%>">
				<b>Balance:</b> <strong id="account_balance">
									$ <%= current_user.current_account.balance %>
								</strong>
			</p>
			 <p>
    		     Created <%= time_ago_in_words(current_user.current_account.created_at) %> ago.
    		 </p>
    		 <p>Created at <%= current_user.current_account.created_at.strftime("%d/%b/%Y") %>
    		 </p>
   	    	<div class="center">
		        <%= link_to  "Add Transaction", new_transaction_path, class: "btn btn-small btn-primary" %>
	    	</div>
		</div>
	</div>    	
	<div class="row">
		<div class="span4" style="background-color:lightgray;padding:5px; margin:10px">
		    <%= form_for(Transaction.new, remote:true) do |f| %>
			    <%= render 'transactions/fields_transaction', f: f %>
			    <center>
      				<%= f.submit "New transaction", class: "btn btn-large btn-primary" %>
      			</center>
    		<% end %>

		</div>
	</div>    	
	
<%end%>	
<div class="row">
	<div class="span4">
		<div class="center" style="padding:10px; margin-bottom:10px">
	        <%= link_to  "Manage Accounts", accounts_path, class: "btn btn-medium btn-primary" %>
    	</div>		
		<div class="center">
	        <%= link_to  "New Account", createAccount_path, class: "btn btn-medium btn-primary" %>
    	</div>
	</div>
</div>
